language: python
dist: trusty
group: stable
os: linux
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

addons:
  apt:
    sources:
      - deadsnakes
    packages:
      - python3.5
      - python3.6

# use it to install system wide python packages such as scipy
virtualenv:
  system_site_packages: true

before_install:
 - sudo apt-get install -qq python-numpy python-scipy python-glpk libglpk-dev glpk-utils
 - sudo rm -f /etc/boto.cfg

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install --upgrade pip
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - pip install pep8
  - pip list
  - python -c "import nltk; nltk.download('stopwords'); nltk.download('punkt')"

# test for pep8
before_script:
  - "pep8 potara/summarizer.py potara/document.py potara/similaritymeasures.py"

# command to run tests, e.g. python setup.py test
script:
 - "python tests/test_all.py"
 - "python setup.py test"
 - "coverage run --omit=potara/takahe.py --source=potara setup.py test"

after_success:
  coveralls